

<div id="message" class="alert alert-dismissible fade in hidden" role="alert">
    <button type="button" class="close">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    </button>
    <span class="msg-text"></span>
</div>


@Scripts.Render("~/js/alertmessage")



