@model Zkly.BLL.ViewModels.ResultViewModel
<div class="panel panel-default">
    <img src="~/Images/PublicImg/PromptWarning.png" />
    <span>您的操作失败啦！</span>
    @Html.ActionLink("返回 >>", Model.ActionName, Model.ControllerName)
</div>
