@model System.Web.Mvc.HandleErrorInfo


<!--content头部信息结束-->

@section heads {
    @Styles.Render("~/css/TestAndVerify")
}
<div class="content">
    <div class="yanzheng">
        <ul>
            <li>
                <input type="hidden" id="url" value="@(Url.Action("InvestorPreference", "Manage"))" />

                <div class="col-xs-12 text-center"><img src="~/images/PublicImg/PromptWarning.png" /></div>

                <div class="col-xs-12 text-center " id="Zkly_Title">提 &nbsp;&nbsp;&nbsp;示</div>
                <div class="col-xs-12 text-center " id="Zkly_fTitle">已锁定</div>
                <div class="col-xs-12 text-center" id="showTimer">
                    <lable id="time">此帐户已锁定，请稍后重试</lable>
                </div>
                <div class="col-xs-12 text-center">

                </div>
            </li>
        </ul>
    </div>
</div>
<!--content头部信息结束-->


