<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings xdt:Transform="Replace">
    <add name="DefaultConnection" connectionString="Data Source=tcp:rdsnqnbnyrbqren.sqlserver.rds.aliyuncs.com,3433;Initial Catalog=zkly;User ID=zkly;Password=Zkjl123456" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <add key="UploadFolder" value="C:\inetpub\wwwroot\UploadFiles" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  
  <system.net>
  </system.net>
  
</configuration>
