<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings xdt:Transform="Replace">
    <add name="DefaultConnection" connectionString="Data Source=rds79xh98k5i4yx604i1.mysql.rds.aliyuncs.com;Initial Catalog=zkluyan_usd;User ID=luyan_user;Password=Zkly201508" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <vhallSettings>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="ApiUid" value="44250034697650392147637635701069" />
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="ApiUkey" value="48ae5ed15be9ae7afd494e4adf0e52fd" />
  </vhallSettings>

  <appSettings>
    <add key="UploadFolder" value="C:\inetpub\wwwroot\UploadFiles" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <customErrors xdt:Transform="SetAttributes(mode)" mode="On"/>
  </system.web>

  <system.net>
  </system.net>

</configuration>
