@{
    ViewBag.Title = "关于";
}
<br />
<div class="panel panel-default">
    <div class="panel-heading">@ViewBag.Title - 深圳中科金集基金管理有限公司</div>
    <div class="panel-body">
        <p>深圳中科金集基金管理有限公司是中国生产力金融专业委员会唯一指定市场运营机构，是五十万科技企业唯一路演平台。公司着力构建多元化多层次的金融服务平台，助推中国中小企业，尤其是中小科技企业的发展。</p>
        <p>中科金集作为集团性控股公司，下设系列子公司，其中包括为五十万科技企业提供路演的中科路演公司、打造中国英谷先导区的中科英谷公司（即以筛选、孵化、投资中国精英的平台），承担直接投资平台功能的中科金汇基金公司等。</p>
        <p>中科金集充分依托科技部的技术、人才、项目优势，充分结合和利用市场高效资源配置的优势，必将产生巨大的社会效益和经济效益，为广大精英人才提供广阔的实现人生价值的舞台。</p>
        <p>中科金集诚挚邀请您的加盟。</p>
        <br />
        <p>政府公告网址：<a href="http://www.cppc.gov.cn/news_play.asp?id=1309">@("http://www.cppc.gov.cn/news_play.asp?id=1309")</a></p>
        <p>公司网址：<a href="http://www.zkjinji.com">@("http://www.zkjinji.com")</a></p>
        <p>招聘邮箱：<a href="mailto:hr@zkjinji.com">hr@zkjinji.com</a></p>
        <p>公司地址：深圳市福田区求是大厦西座14楼</p>
    </div>
</div>