@{
    ViewBag.Title = "联系我们";
}
<br />
<div class="panel panel-default">
    <div class="panel-heading">@ViewBag.Title</div>
    <div class="panel-body">
        <address>
            <strong>网址：</strong>
            <a href="http://www.zkjinji.com">@("http://www.zkjinji.com")</a><br />
            <strong>地址：</strong>
            深圳市福田区求是大厦西座14楼<br />
            <abbr title="Phone"><strong>电话：</strong></abbr>
            0755-25335551
        </address>

        <address>
            <strong>人&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;事:</strong>   <a href="mailto:hr@zkjinji.com">hr@zkjinji.com</a><br />
            <strong>技术支持:</strong>   <a href="mailto:Support@zkjinji.com">Support@zkjinji.com</a><br />
            <strong>市&nbsp;&nbsp;场&nbsp;部:</strong> <a href="mailto:Marketing@zkjinji.com">Marketing@zkjinji.com</a>
        </address>
    </div>
</div>