@{
    ViewBag.Title = "新闻报道";
}
@section heads{
    @Styles.Render("~/css/News")
}

<ol class="breadcrumb">
    <li><a href="/">首页</a></li>
    <li class="active">@ViewBag.Title</li>
</ol>
<div class="panel panel-default">
    <br />
    <div id="row">
        <p id="Zkly_p1">
            “中国英谷”落户深圳与“中国好技术”推选活动暨“中科路演”科技金融项目对接发布会
        </p>
        <p id="Zkly_p2">
            中国生产力金融专业委员会、中科金集集团《“中国英谷”落户深圳与“中国好技术”推选活动暨“中科路演”科技金融项目对接发布会》于2015年5月30日下午在深圳市五洲宾馆五洲厅举行。
        </p>
        <table>
            <tr>
                <td align="center">
                    <img src="/images/news/20150530/report/1.jpg" />
                </td>
                <td align="center">
                    <img src="/images/news/20150530/report/2.jpg" />
                </td>
            </tr>
            <tr>
                <td align="center">
                    揭牌仪式
                </td>
                <td align="center">
                    中国英谷落户深圳正式启动
                </td>
            </tr>
        </table>
        <p id="Zkly_p2">
            国务院参事室参事、中国生产力促进中心理事长石定寰，中国生产力促进中心协会秘书长刘玉兰等领导出席了会议，对专委会的工作给予了高度肯定、并发表了热情洋溢的讲话。
        </p>
        <table>
            <tr>
                <td align="center">
                    <img src="/images/news/20150530/report/3.jpg" />
                </td>
                <td align="center">
                    <img src="/images/news/20150530/report/4.jpg" />
                </td>
            </tr>
            <tr>
                <td align="center">
                    国务院参事石定寰 理事长
                </td>
                <td align="center">
                    中国生产力促进中心刘玉兰秘书长
                </td>
            </tr>
        </table>
        <p id="Zkly_p2">
            以中融国际信托、安信证券、前海股权交易中心、前海众筹、中国光华设计基金会、清华大学研究生院、爱思拓集团、吉盛昌集团等为代表的近200家金融机构和企业界代表及政府部门负责人出席了发布会。
        </p>
        <p id="Zkly_p2">
            发布会上世界领先、中国最大的大数据安全存储公司通过“中科路演”平台，获得了前海众筹募集的3000万元人民币融资，其中第一笔资金500万元人民币由国务院参事石定寰先生在发布会现场为该笔投资落锤，现场转账支付给了爱思拓安全存储公司，从而正式启动了“中科路演”平台的运作。
        </p>

        <p id="Zkly_p2">
            本次发布会以科技部中国生产力中心为依托，由生产力中心下属中国生产力金融专业委员会（以下简称金融专委会）主办。
        </p>
        <p id="Zkly_p2">
            本次发布会的宗旨是：通过发布会让社会及公众知道并了解由中国生产力中心金融专委指定的唯一运营机构中科金集集团，是为国内五十余万家中小型科技企业提供多元化、多层次、多渠道、全方位的金融服务体系，打造“官产学研金”互动交流的对接平台，推动其产业结构升级转型。
        </p>
        <table>
            <tr>
                <td align="center">
                    <img src="/images/news/20150530/report/6.jpg" />
                </td>
            </tr>
            <tr>
                <td align="center">
                    中科金集集团总裁严雪铵
                </td>
            </tr>
        </table>
        <p id="Zkly_p2">
            金融专委会秘书长兼中科金集集团总裁严雪铵表示，为实现系统金融服务，专委会规划了一个量化的工作目标，准备启动百千万亿计划，这是百千万计划和千万亿计划的合称。具体计划是用系统金融服务在全国助推一千家年收入千万级的企业在三年内超亿收入，以及助推一万家百万级年收入的企业三年内收入超千万。
        </p>
        <p id="Zkly_p2">
            <table>
                <tr>
                    <td align="center">
                        <img src="/images/news/20150530/report/7.jpg" />
                    </td>

                </tr>
                <tr>
                    <td align="center">
                        新闻发布会现场
                    </td>
                </tr>
            </table>
        </p>


        <p id="Zkly_p2">
            现场还有中融国际信托、安信证券、长江财税、前海众筹、广东数字领海、清华大学研究生院等金融机构和研发机构与中国生产力金融专业委员会、中科金集集团的签署战略合作协议。
        </p>

        <p id="Zkly_p2">
            为此，中科金集启动“中科路演”平台，这是五十余万家中小型科技企业及唯一路演平台。通过打造网络平台聚集及联系各方优秀企业，结合企业具体情况协助企业完成路演的所有准备工作，并在平台上公布，让更多的投资者，采购商，并购商等了解企业，成为最大的企业集群获取资金的撮合成交平台。
        </p>

        <p id="Zkly_p2">
            “中国英谷”则针对美国有个硅谷，凭借科技部以近千院士资源为核心的高级精英人才资源，搭建新型孵化平台，把科技通过生产、销售、管理、资本运作等系统运营服务，把更多高科技转化为生产力，服务国家，服务社会。
        </p>

        <p id="Zkly_p2">
            “中国好技术”同“中国好声音”一样，是科技部生产力中心以海选的方式，在全国近千技术项目中筛选、评定的150项优秀技术项目，也交由中科金集平台进行系统的金融服务，助推中国经济。
        </p>

        <p id="Zkly_p2">
            在我国经济新常态形势下，如何为企业提供有价值的金融服务是中国生产力金融专委最主要的工作任务之一。
        </p>

        <p id="Zkly_p2">
            为深入贯彻落实党中央、国务院关于加快实施创新驱动发展战略和李克强总理关于“大众创业、万众创新”的指示精神，中科金集集团，有责任、有义务以多元化、多层次的创新金融服务于广大中小型科技企业。
        </p>
        <table>
            <tr>
                <td align="center">
                    <img src="/images/news/20150530/report/8.jpg" />
                </td>
                <td align="center">
                    <img src="/images/news/20150530/report/9.jpg" />
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    石定寰理事长敲响第一锤现场放款500万
                </td>
            </tr>
        </table>

        <p id="Zkly_p2">
            企业代表爱思拓集团董事长王昱人也表示，非常幸运有机会成为中国好技术项目在中科路演平台上获得融资的第一家企业！中科路演是一个非常好的投融资平台。相信未来一定会有更多需要资金发展的企业从中科路演这个平台上获得更多的支持！
        </p>
        <table>
            <tr>
                <td align="center">
                    <img src="/images/news/20150530/report/10.jpg" />
                </td>
                <td align="center">
                    <img src="/images/news/20150530/report/11.jpg" />
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    战略合作协议签订
                </td>
            </tr>
        </table>

        <p id="Zkly_p2">
            专业服务机构前海智库也组团参加新闻发布会，前海智库核心战略成员深圳威肯能源智能系统科技有限公司董事长胡开政也认为，系统金融服务平台对中小企业的支持非常重要，能更好的提供一个标准型的认可、认证和落地服务，能快速便捷解决企业融资需求，大大降低融资成本，有效的配置资源，聚集社会力量，助力万众创业，大众创新。
        </p>
        <table>
            <tr>
                <td align="center">
                    <img src="/images/news/20150530/report/12.jpg" />
                </td>
                <td align="center">
                    <img src="/images/news/20150530/report/13.jpg" />
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    科技部中国生产力中心领导考察中国英谷
                </td>
            </tr>
        </table>

        <p id="Zkly_p2">
            上午国务院参事室参事、中国生产力促进中心理事长石定寰，中国生产力促进中心协会秘书长刘玉兰等领导参观考察了“中国英谷”深圳基地。（耘华）
        </p>
    </div>

</div>