@{
    ViewBag.Title = "资金池 - 列表";
}

<br/>
<div class="panel panel-default">
    <div class="panel-heading">@ViewBag.Title</div>
    <div class="panel-body">
        <ul class="list-group">
            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-4">
                        <img src="~/Images/funds/1.png" alt="北京易通贷网络金融平台">
                    </div>
                    <div class="col-xs-4">
                        <a href="http://www.etongdai.com/" target="_blank">1. 北京易通贷网络金融平台</a>
                    </div>
                    <div class="col-xs-4">
                        <span class="badge">10亿</span>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-4">
                        <img src="~/Images/funds/2.png" alt="深圳金海贷金融服务有限公司">
                    </div>
                    <div class="col-xs-4">
                        <a href="https://www.jinhaidai.com/" target="_blank">2. 深圳金海贷金融服务有限公司</a>
                    </div>
                    <div class="col-xs-4">
                        <span class="badge">9.3亿</span>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-4">
                        <img src="~/Images/funds/3.png" alt="久亿财富（北京）投资有限公司">
                    </div>
                    <div class="col-xs-4">
                        <a href="http://www.duanrong.com/" target="_blank">3. 久亿财富（北京）投资有限公司</a>
                    </div>
                    <div class="col-xs-4">
                        <span class="badge">10亿</span>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-4">
                        <img src="~/Images/funds/4.png" alt="温州网诚民间融资信息服务有限公司">
                    </div>
                    <div class="col-xs-4">
                        <a href="http://www.wzdai.com/" target="_blank">4. 温州网诚民间融资信息服务有限公司</a>
                    </div>
                    <div class="col-xs-4">
                        <span class="badge">20亿</span>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-4">
                        <img src="~/Images/funds/5.png" alt="金信财富网络科技（北京）有限公司">
                    </div>
                    <div class="col-xs-4">
                        <a href="http://www.jinxin99.cn/" target="_blank">5. 金信财富网络科技（北京）有限公司</a>
                    </div>
                    <div class="col-xs-4">
                        <span class="badge">10亿</span>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-4">
                        <img src="~/Images/funds/6.png" alt="北京天使街网络科技有限公司">
                    </div>
                    <div class="col-xs-4">
                        <a href="http://www.tsj123.com/" target="_blank">6. 北京天使街网络科技有限公司</a>
                    </div>
                    <div class="col-xs-4">
                        <span class="badge">1亿</span>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-4">
                        <img src="~/Images/funds/7.png" alt="中科金集基金管理有限公司">
                    </div>
                    <div class="col-xs-4">
                        <a href="http://www.tsj123.com/" target="_blank">7. 中科金集基金管理有限公司</a>
                    </div>
                    <div class="col-xs-4">
                        <span class="badge">5亿</span>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-4">
                        <img src="~/Images/funds/8.png" alt="前海众筹">
                    </div>
                    <div class="col-xs-4">
                        <a href="http://www.tsj123.com/" target="_blank">8. 前海众筹</a>
                    </div>
                    <div class="col-xs-4">
                        <span class="badge">10亿</span>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-4">
                        <img src="~/Images/funds/9.png" alt="高新金融促进会">
                    </div>
                    <div class="col-xs-4">
                        <a href="http://www.tsj123.com/" target="_blank">9. 高新金融促进会</a>
                    </div>
                    <div class="col-xs-4">
                        <span class="badge">10亿</span>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-4">
                        <img src="~/Images/funds/10.png" alt="广东股权投资协会">
                    </div>
                    <div class="col-xs-4">
                        <a href="http://www.tsj123.com/" target="_blank">10. 广东股权投资协会</a>
                    </div>
                    <div class="col-xs-4">
                        <span class="badge">50亿</span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
