@{
    ViewBag.Title = "忘记密码确认";
}
@section heads {
    @Styles.Render("~/css/TestAndVerify")
}

<!--content头部信息结束-->
<div class="content">
    <div class="yanzheng">
        <ul>
            <li>

                <div class="col-xs-12 text-center"><img src="~/Images/PublicImg/PromptSuccess.png" /></div>

                <div class="col-xs-12 text-center " id="Zkly_Title">请查看你的电子邮件以重置密码。</div>

            </li>
        </ul>
    </div>
</div>
<!--content头部信息结束-->
	
