@{
    ViewBag.Title = "重置密码确认";
}

@section heads {
    @Styles.Render("~/css/TestAndVerify")
}

<!--content头部信息结束-->
<div class="content">
    <div class="yanzheng">
        <ul>
            <li>

                <div class="col-xs-12 text-center"><img src="~/Images/PublicImg/PromptSuccess.png" /></div>

                <div id="Zkly_Title" class="col-xs-12 text-center" >重置密码确认</div>

                <div id="Zkly_ResetPwdConfirmationOk" class="col-xs-12 text-center "><label>你的密码已重置。请</label> @Html.ActionLink("单击此处登录", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</div>


            </li>
        </ul>
    </div>
</div>
<!--content头部信息结束-->
