#zkly_Row {
  margin-top: 20px;
  padding-left: 32px;
  margin-bottom: 30px;
}
#zkly_Row #zkly_HelpHeader {
  color: #181414;
  font-size: 26px;
  border-bottom: 1px solid #b0c4de;
  padding-bottom: 15px;
}
#zkly_Row #zkly_Style {
  margin-top: 15px;
}
#zkly_Row .col-xs-1 {
  text-align: right;
  padding-top: 22px;
}
#zkly_Row .col-xs-10 {
  font-size: 26px;
  color: #0d83d7;
  padding-top: 17px;
}
/*right结束*/
.content .right {
  border: #e0e0e0 1px solid;
  margin: 16px 0px 50px 31px;
  width: 78%;
}
.content .right .wenzi span {
  margin: 23px 0 48px 8px;
}
.content .right .wenzi span span p {
  font-size: 26px;
  color: #0d83d7;
  margin: 45px 10px 0px 0px;
  float: left;
}
.content .right .wenzi span span i {
  font-size: 14px;
  font-style: normal;
  margin: -31px 0 0px 195px;
  clear: both;
  float: left;
}
.content .right .wenzi span span img {
  margin: 45px 10px 10px 59px;
  float: left;
}
.content .right .neirong {
  padding: 0px 0px 20px 20px;
  z-index: 3;
}
.content .right .neirong .tiao {
  width: 2px;
  height: 415px;
  margin: 69px 20px 20px 44px;
  background: #3b9ff3;
  display: block;
  position: absolute;
  z-index: 2;
}
.content .right .neirong ul li .aa-1 {
  padding: 0px 0px 0px 10px;
  clear: both;
}
.content .right .neirong ul li .aa-1 span i {
  margin: 35px 0px 0px -30px;
  width: 100%;
}
.content .right .neirong ul li .aa-1 span i img {
  margin: 0px 0px 0px 24px;
  float: left;
  z-index: 2;
}
.content .right .neirong ul li .aa-1 span p {
  margin: 28px 10px 0px 10px;
  font-size: 18px;
  font-weight: 600;
}
.content .right .neirong ul li .aa-1 span a {
  margin: 27px 0px 0px 10px;
  float: left;
  font-size: 14px;
  background: #ef7900;
  width: 89px;
  height: 27px;
  display: block;
  color: #fff;
  text-align: center;
  line-height: 27px;
  border-radius: 3px;
}
.content .right .aa-2 {
  padding: 0px 0px 20px 0px;
}
.content .right .aa-2 img {
  margin: 35px 0px 0px 10px;
  z-index: 1;
  width: 670px;
}
/*right结束*/
/*left开始*/
.content .left {
  padding-top: 15px;
}
.content .left ul li {
  width: 200px;
  height: 50px;
  background: #f7f7f7;
  display: block;
  margin-top: 1px;
}
.content .left ul li img {
  float: left;
  width: 14px;
  height: 14px;
  margin: 20px 0px 0px 20px;
}
.content .left ul li p {
  color: #2e2e2e;
  float: left;
  margin: 16px 0px 0px 20px;
  font-size: 16px;
}
.content .left ul.expmenu li .arrow.up {
  background-image: url(../../../images/PublicImg/Btn-Play-White.png);
}
.content .left ul.expmenu li .arrow.down {
  background-image: url(../../../images/PublicImg/Btn-Play-White.png);
}
.content .left ul.expmenu li .arrow {
  display: block;
  width: 16px;
  height: 16px;
  background: no-repeat center;
  float: left;
  margin: 20px 0px 0px 20px;
}
.content .left ul .tu-2 {
  background: #0d83d7;
}
.content .left ul .tu-2 p {
  color: #FFFFFF;
  float: left;
  margin: 16px 0px 0px 20px;
  font-size: 16px;
}
.content .xiaobiao {
  font-size: 14px;
  color: #000;
  display: block;
}
.content .xiaobiao ul li:hover {
  background: #4ca1dd;
  color: #000;
}
.content .xiaobiao ul li {
  display: block;
  width: 200px;
}
.content .xiaobiao ul li img {
  margin: 18px 0px 0px 0px;
}
.content .xiaobiao ul li p {
  color: #2e2e2e;
  font-size: 14px;
  margin: 13px 24px 0px 54px;
}
/*left结束*/
.zkly-Helppege-R {
  margin-top: 20px;
  padding-left: 29px;
}
#zkly-HelpPage-Hindex {
  color: #181414;
  font-size: 26px;
  padding-left: 32px;
  border-bottom: 1px solid #b0c4de;
  margin-bottom: 15px;
  margin-top: 25px;
}
#zkly-HelpPage-margin {
  margin-top: 25px;
}
/*# sourceMappingURL=HelpPage.css.map */