
@{
    ViewBag.Title = "CapitalRoadShow";
    Layout = "~/Views/Shared/_LayoutHelp.cshtml";
}
        <div class="row" id="zkly_Row">

    <div class="col-xs-1">
        <img src="~/images/PublicImg/Blue.png" />
    </div>
    <div class="col-xs-10">
        查看资本路演
    </div>

</div>
        <!--neirong开始-->
        <div class="neirong">
            <ul id="UI">
                <li>
                    <div class="tiao"></div>
                    <div class="aa-1">
                        <span>
                            <i><img src="~/images/HelpCenterImg/Step_1.png" /> </i>
                            <p>登录www.zkluyan.com，进入中科路演首页,点击首页路演厅下的资本路演</p>
                            @*<a href="#">免费注册</a>*@
                        </span>
                        <div class="aa-2">
                            <a><img src="~/Images/HelpCenterImg/Invest_07.png" /></a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="tiao"></div>
                    <div class="aa-1">
                        <span>
                            <i><img src="~/images/HelpCenterImg/Step_2.png" /> </i>
                            <p>查看资本路演（如您已以投资人身份登录直接跳至第三步）</p>

                        </span>
                        <div class="aa-2">
                            <a><img src="~/Images/HelpCenterImg/CapitalRoadShow02.png"></a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="tiao"></div>
                    <div class="aa-1">
                        <span>
                            <i><img src="~/images/HelpCenterImg/Step_3.png" /> </i>
                            <p>您可以观看已有得到资本路演</p>

                        </span>
                        <div class="aa-2">
                            <a><img src="~/Images/HelpCenterImg/Invest_08.png"></a>
                        </div>
                    </div>
                </li>

                <li>

                    <div class="aa-1">
                        <span>
                            <i><img src="~/images/HelpCenterImg/Step_4.png" /> </i>
                            <p>点击进入查看详细的资本路演</p>

                        </span>
                        <div class="aa-2">
                            <a><img src="~/Images/HelpCenterImg/BusinessRoadShow03.png"></a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <!--neirong结束-->

<!--content结束-->
@section scripts
{
    @Scripts.Render("~/js/helpPageHover")
}


