
@{
    ViewBag.Title = "ContactCustomerService";
    Layout = "~/Views/Shared/_LayoutHelp.cshtml";
}

<div class="row" id="zkly_Row">
    <div class="col-xs-12" id="zkly_HelpHeader">
        <img src="~/images/PublicImg/Blue.png" />
        联系客服
    </div>
    <div class="col-xs-12" id="zkly_Style">
        @Html.ActionLink("怎么联系到我们的客服？", "QQ", "HelpPage")
    </div>
</div>
