
@{
    ViewBag.Title = "ForgetEmail";
    Layout = "~/Views/Shared/_LayoutHelp.cshtml";
}
    <div class="row" id="zkly_Row">

    <div class="col-xs-1">
        <img src="~/images/PublicImg/Blue.png" />
    </div>
    <div class="col-xs-10">
        用户重置密码
    </div>

</div>
            <!--neirong开始-->
            <div class="neirong">

                <ul id="UI">
                    <li>
                        <div class="tiao"></div>
                        <div class="aa-1">
                            <span>
                                <i><img src="~/images/HelpCenterImg/Step_1.png" /> </i>
                                <p>点击登录页面的忘记密码</p>
                                @*<a href="#">免费注册</a>*@
                            </span>
                            <div class="aa-2">
                                <a><img src="~/Images/HelpCenterImg/Forgetpwd_02.png" /></a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="tiao"></div>
                        <div class="aa-1">
                            <span>
                                <i><img src="~/images/HelpCenterImg/Step_2.png" /> </i>
                                <p>点击邮箱验证</p>

                            </span>
                            <div class="aa-2">
                                <a><img src="~/Images/HelpCenterImg/Email1.png"></a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="tiao"></div>
                        <div class="aa-1">
                            <span>
                                <i><img src="~/images/HelpCenterImg/Step_3.png" /> </i>
                                <p>系统已自动发一封邮件至您的邮箱，点击邮箱链接进入第六步</p>

                            </span>
                            <div class="aa-2">
                                <a><img src="~/Images/HelpCenterImg/Email2.png"></a>
                            </div>
                        </div>
                    </li>
                   
                    <li>
                        <div class="tiao"></div>
                        <div class="aa-1">
                            <span>
                                <i><img src="~/images/HelpCenterImg/Step_4.png" /> </i>
                                <p>或点击手机验证(输入您的手机号码)</p>

                            </span>
                            <div class="aa-2">
                                <a><img src="~/Images/HelpCenterImg/Phone1.png"></a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="tiao"></div>
                        <div class="aa-1">
                            <span>
                                <i><img src="~/images/HelpCenterImg/Step_5.png" /> </i>
                                <p>输入正确的验证码跳转至如下页面</p>

                            </span>
                            <div class="aa-2">
                                <a><img src="~/Images/HelpCenterImg/Phone2.png"></a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="tiao"></div>
                        <div class="aa-1">
                            <span>
                                <i><img src="~/images/HelpCenterImg/Step_6.png" /> </i>
                                <p>根据提示输入完成的信息后点击重置</p>

                            </span>
                            <div class="aa-2">
                                <a><img src="~/Images/HelpCenterImg/Password01.png"></a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="aa-1">
                            <span>
                                <i><img src="~/images/HelpCenterImg/Step_7.png" /> </i>
                                <p>密码重置成功</p>

                            </span>
                            <div class="aa-2">
                                <a><img src="~/Images/HelpCenterImg/ResetPassword01.png"></a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <!--neirong结束-->
 
@section scripts
{
    @Scripts.Render("~/js/helpPageHover")
}
