
@{
    ViewBag.Title = "UpdLoan";
    Layout = "~/Views/Shared/_LayoutHelp.cshtml";
}
<div class="row" id="zkly_Row">

    <div class="col-xs-1">
        <img src="~/images/PublicImg/Blue.png" />
    </div>
    <div class="col-xs-10">
        修改贷款资料
    </div>

</div>
        <!--neirong开始-->
        <div class="neirong">

            <ul id="UI">
                <li>
                    <div class="tiao"></div>
                    <div class="aa-1">
                        <span>
                            <i><img src="~/images/HelpCenterImg/Step_1.png" /> </i>
                            <p>企业方登录后点击主页面上的（我的主页）</p>
                            @*<a href="#">免费注册</a>*@
                        </span>
                        <div class="aa-2">
                           <a><img src="~/Images/HelpCenterImg/Invest_16.png" /></a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="tiao"></div>
                    <div class="aa-1">
                        <span>
                            <i><img src="~/images/HelpCenterImg/Step_2.png" /> </i>
                            <p>查看我的贷款下面的贷款材料，点击进入</p>

                        </span>
                        <div class="aa-2">
                           <a><img src="~/Images/HelpCenterImg/Loan_02.png"></a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="tiao"></div>
                    <div class="aa-1">
                        <span>
                            <i><img src="~/images/HelpCenterImg/Step_3.png" /> </i>
                            <p>按自己的需求修改贷款材料,填写完毕后点击申请贷款</p>

                        </span>
                        <div class="aa-2">
                           <a><img src="~/Images/HelpCenterImg/Laon_01.png"></a>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="aa-1">
                        <span>
                            <i><img src="~/images/HelpCenterImg/Step_4.png" /> </i>
                            <p>修改成功（跳回至我的主页）</p>

                        </span>
                        <div class="aa-2">
                           <a><img src="~/Images/HelpCenterImg/MyIndex.png"></a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <!--neirong结束-->
@section scripts
{
    @Scripts.Render("~/js/helpPageHover")
}

