
@{
    ViewBag.Title = "UpdPreferenceSetting";
    Layout = "~/Views/Shared/_LayoutHelp.cshtml";
}
  <!--content开始-->
<div class="row" id="zkly_Row">

    <div class="col-xs-1">
        <img src="~/images/PublicImg/Blue.png" />
    </div>
    <div class="col-xs-10">
        资金方修改偏好设置
    </div>

</div>
        <!--neirong开始-->
        <div class="neirong">

            <ul id="UI">
                <li>
                    <div class="tiao"></div>
                    <div class="aa-1">
                        <span>
                            <i><img src="~/images/HelpCenterImg/Step_1.png" /> </i>
                            <p>您以投资人身份登录后(并已设置偏好)，点击主页上的偏好设置</p>
                            @*<a href="#">免费注册</a>*@
                        </span>
                        <div class="aa-2">
                            <a><img src="~/Images/HelpCenterImg/PreferenceSetting01 .png" /></a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="tiao"></div>
                    <div class="aa-1">
                        <span>
                            <i><img src="~/images/HelpCenterImg/Step_2.png" /> </i>
                            <p>请从新填写您的偏好，点击保存</p>

                        </span>
                        <div class="aa-2">
                            <a><img src="~/Images/HelpCenterImg/PreferenceSetting03 .png"></a>
                        </div>
                    </div>
                </li>
                <li>

                    <div class="aa-1">
                        <span>
                            <i><img src="~/images/HelpCenterImg/Step_3.png" /> </i>
                            <p>您的操作已完成</p>

                        </span>
                        <div class="aa-2">
                            <a><img src="~/Images/HelpCenterImg/PreferenceSetting04.png"></a>
                        </div>
                    </div>
                </li>

            </ul>
        </div>
        <!--neirong结束-->
  
<!--content结束-->
@section scripts
{
    @Scripts.Render("~/js/helpPageHover")
}
