
@{
    ViewBag.Title = "UploadRoadShow";
    Layout = "~/Views/Shared/_LayoutHelp.cshtml";
}
<div class="row" id="zkly_Row">

    <div class="col-xs-1">
        <img src="~/images/PublicImg/Blue.png" />
    </div>
    <div class="col-xs-10">
        企业方上传业务路演
    </div>

</div>
        <!--neirong开始-->
        <div class="neirong">

            <ul id="UI">
                <li>
                    <div class="tiao"></div>
                    <div class="aa-1">
                        <span>
                            <i><img src="~/images/HelpCenterImg/Step_1.png" /> </i>
                            <p>点击我的主页</p>

                        </span>
                        <div class="aa-2">
                            <a><img src="~/Images/HelpCenterImg/Invest_16.png" /></a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="tiao"></div>
                    <div class="aa-1">
                        <span>
                            <i><img src="~/images/HelpCenterImg/Step_2.png" /> </i>
                            <p>查看路演中的投资状态点击进入</p>
                            @*<a href="#">免费注册</a>*@
                        </span>
                        <div class="aa-2">

                            <a><img src="~/Images/HelpCenterImg/BusinessRoadShow.png"></a>

                        </div>
                    </div>
                </li>
                <li>
                    <div class="tiao"></div>
                    <div class="aa-1">
                        <span>
                            <i><img src="~/images/HelpCenterImg/Step_3.png" /> </i>
                            <p>上传您的业务路演（填写完后记得勾选我已阅读XXXX协议。注：如文件太大，请耐心等待）</p>
                            @*<a href="#">免费注册</a>*@
                        </span>
                        <div class="aa-2">

                            <a><img src="~/Images/HelpCenterImg/BusinessRoadShow05.png"></a>

                        </div>
                    </div>
                </li>
                <li>

                    <div class="aa-1">
                        <span>
                            <i><img src="~/images/HelpCenterImg/Step_4.png" /> </i>
                            <p>业务路演上传成功</p>

                        </span>
                        <div class="aa-2">
                            <a><img src="~/Images/HelpCenterImg/PreferenceSetting04.png"></a>
                        </div>
                    </div>
                </li>

            </ul>
        </div>
        <!--neirong结束-->
@section scripts
{
    @Scripts.Render("~/js/helpPageHover")
}

