@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section heads {
    @Styles.Render("~/css/TestAndVerify")
}

<!--content头部信息结束-->
<div class="content">
    <div class="yanzheng">
        <ul>
            <li>
              
                <div class="col-xs-12 text-center"><img src="~/images/PublicImg/PromptWarning.png" /></div>
                    
                    <div class="col-xs-12 text-center " id="Zkly_TitleError" >错  &nbsp;&nbsp;&nbsp;误</div>
                    <div class="col-xs-12 text-center " id="Zkly_fTitle">您的身份为资金方，请以企业方账户登录申请投资或贷款！</div>
          
                <div class="col-xs-6 text-right">
                    <a href='@(Url.Action("Register", "Account"))' role="button" class="btn btn-default">立即注册</a>

                    &nbsp;&nbsp;
                </div>
                <div class="col-xs-6 text-left" id="Zkly_Login">
                    <a href="@(Url.Action("Login", "Account"))">已有帐号登录</a>
                </div>
                    
            </li>
        </ul>
    </div>
</div>
<!--content头部信息结束-->
